* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.section-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ===== NAVBAR STYLE ===== */
header {
    background: #FF9D23;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar .nav_logo .logo_text {
    color: #3B6790;
    font-size: 2rem;
    font-weight: 600;
}

#logo_text_style {
    color: #DBDBDC;
}

.navbar .nav_menu .nav_link {
    color: #3B6790;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 1.12rem;
    transition: 0.3s ease;
    font-weight: 700;
}

.navbar .nav_menu .nav_link:hover {
    background: #3B6790;
    color: #DBDBDC;
}

#faq_btn {
    background: #3B6790;
    color: #DBDBDC;
}

.navbar .nav_menu {
    display: flex;
    gap: 10px;
}

.nav_btn {
    padding: 8px 20px;
    font-size: 1.12rem;
    border-radius: 6px;
    font-weight: 700;
    transition: 0.3s ease;
    color: #3B6790;
    border: 1px solid #3B6790;
    background: #DBDBDC;
}

.nav_register_btn:hover {
    background: #FF9D23;
    color: #3B6790;
}

.nav_login_btn:hover {
    color: #DBDBDC;
    background: #3B6790;
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}


/* ===== FAQ STYLE ===== */

.faq-section {
    background: #efb036;
    text-align: center;
    padding: 150px 20px 40px;
}

.faq-section h1 {
    font-size: 2.5rem;
    color: #DBDBDC;
    font-weight: 700;
    margin-bottom: 15px;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq {
    background-color: transparent;
    border: 1px solid #3B6790;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active {
    background-color: #FF9D23;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq-title {
    margin: 0 35px 0 0;
    color: #3B6790;
    ;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #3B6790;
}