/* Overall Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ===== NAVBAR STYLE ===== */
header {
    background: #FF9D23;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar .nav_logo .logo_text {
    color: #3B6790;
    font-size: 2rem;
    font-weight: 600;
}

#logo_text_style {
    color: #DBDBDC;
}

.navbar .nav_menu .nav_link {
    color: #3B6790;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 1.12rem;
    transition: 0.3s ease;
    font-weight: 700;
}

.navbar .nav_menu .nav_link:hover {
    background: #3B6790;
    color: #DBDBDC;
}

.navbar .nav_menu {
    display: flex;
    gap: 10px;
}

.nav_btn {
    padding: 8px 20px;
    font-size: 1.12rem;
    border-radius: 6px;
    font-weight: 700;
    transition: 0.3s ease;
    color: #3B6790;
    border: 1px solid #3B6790;
    background: #DBDBDC;
}

.nav_register_btn:hover {
    background: #FF9D23;
    color: #3B6790;
}

.nav_login_btn:hover {
    color: #DBDBDC;
    background: #3B6790;
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}


/* ===== BANNER STYLE ===== */
.banner_section {
    max-height: 90vh;
    background: #efb036;
}

.banner_welcome_text {
    background-color: #1f3951;
    color: white;
    padding: 2px 20px;
    border-radius: 10px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    margin-bottom: 8px;
}

.banner_section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
    justify-content: space-between;
}

.banner_section .banner_details .title {
    font-size: 2.5rem;
    color: #dbdbdc;
    font-family: "Sour Gummy", serif;
}

.banner_section .banner_details .subtitle {
    font-size: 1.75rem;
    color: #3b6790;
    margin-top: 8px;
    max-width: 70%;
    font-weight: 600;
}

.banner_section .banner_details .description {
    max-width: 70%;
    margin: 15px 0 40px;
    font-size: 1.12rem;
    color: #1f3951;
}

.banner_section .banner_image {
    max-width: 500px;
    margin-right: 30px;
    height: 350px;
    width: 350px;
}

.banner_btn {
    display: flex;
    gap: 25px;
}

.banner_book_btn:hover {
    background: #1f3951;
    color: #dbdbdc;
}

.banner_call_btn {
    background: #1f3951;
    color: #dbdbdc;
}

.banner_call_btn:hover {
    color: #1f3951;
    background: #dbdbdc;
}

/* ===== WHY US SECTION STYLE ===== */
.why_us_section {
    padding: 120px 0;
    background-color: #f6c94a;
}

.why_us_section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.why_us_section .why_us_image_wrapper .why_us_image {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: .5rem;
    border: 0.5rem solid #dbdbdc;
}

.section-title {
    color: #1f3951;
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 2rem;
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 8px;
    background: #3b6790;
}

.why_us_section .why_us_details .section-title {
    padding: 0;
}

.why_us_section .why_us_details {
    max-width: 50%;
}

.why_us_section .why_us_details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: left;
    font-size: 1.12rem;
    list-style: none;
    padding: 0;
}

.why_us_section .why_us_details .text li {
    position: relative;
    padding-left: 35px;
    line-height: 1.5;
    font-size: 1.25rem;
}

.why_us_section .why_us_details .text .icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    margin-right: 10px;
    color: #1f3951;
}

/* ===== SERVICES SECTION STYLE ===== */
.service_section {
    background: #efb036;
    padding: 40px 20px;
}

.service_section .service_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.service_section .service_list .service_item {
    background: #dbdbdc;
    border: 2px solid #1f3951;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: calc(25% - 20px);
    transition: transform 0.3s;
}

.service_section .service_list .service_item:hover {
    transform: translateY(-8px);
}

.service_section .service_list .service_image {
    max-width: 30%;
    margin-bottom: 15px;
}

.service_section .service_list .name {
    font-size: 1.5rem;
    color: #3b6790;
    margin: 7px 0;
    font-weight: 600;
}

.service_section .service_list .text {
    margin: 8px 0 20px;
    font-size: 1rem;
    color: #1f3951;
}

.service_section .service_list .menu_button:hover {
    background: #1f3951;
    color: #dbdbdc;
}

/* ===== STEPS SECTION STYLE ===== */
.steps_section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    margin: 0;
    background-color: #f6c94a;
}

.container {
    max-width: 1500px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;

}

.steps {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}

.step {
    width: 22%;
    text-align: center;
    position: relative;
    margin: 0 10px;
}

.step .circle {
    width: 100px;
    height: 100px;
    border: 4px solid #1f3951;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    font-size: 1.5rem;
    background-color: white;
    flex-direction: column;
    transition: transform 0.3s;
}

.step .circle img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.step .circle:hover img {
    transform: scale(1.1);
}

.step .circle:hover {
    transform: scale(1.05);
}

.step:nth-child(even) .circle {
    margin-top: 60px;
}

.step_title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #3b6790;
}

.step-text {
    color: #1f3951;
    font-size: 0.9rem;
}

/* ===== STATS SECTION STYLE ===== */
.stats_section {
    background-color: #efb036;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
}

.stats_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
    max-width: 1000px;
    text-align: center;
}

.stat_item {
    flex: 1;
}

.stat_number {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.stat_text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #3b6790;
    margin-top: 5px;
}

.divider {
    width: 1px;
    height: 50px;
    background-color: #ccc;
}

/* ===== REVIEW SECTION STYLE ===== */
.reviews_section {
    background-color: #f6c94a;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.all_review {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

.reviews_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.review_card {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: transform 0.3s;
}

.review_card:hover {
    transform: translateY(-5px);
    border: 2px solid white;
    box-shadow: 0 0 25px rgba(59, 103, 144, 0.7)
}

.review_text {
    font-style: italic;
    font-size: 1.20rem;
    color: #ccc;
    margin-bottom: 10px;
    flex-grow: 1;
}

.reviewer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.reviewer p {
    font-size: 0.75rem;
}

.reviewer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.explore_reviews {
    margin-top: 20px;
    background-color: #fff;
    color: #111;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.explore_reviews:hover {
    background-color: #1a1a1a;
    color: #fff;
}

/* ===== FOOTER SECTION STYLE ===== */
.footer {
    padding: 120px 50px 0;
    background: #111;
    text-align: center;
}

.footer .footer_box_container {
    display: flex;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer .box {
    flex: 1;
    min-width: 200px;
}

.footer .box h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #efb036;
    text-transform: uppercase;
}

.footer .box a {
    display: block;
    font-size: 1rem;
    padding: 1rem 0;
    color: #dbdbdc;
}

.footer .box a i {
    padding-right: .5rem;
    color: #1f3951;
}

#location {
    padding-right: .5rem;
    color: red;
}

.footer .box a:hover i {
    padding-right: 1.5rem;
    color: #fff;
}

.footer .credit_part {
    text-align: center;
    border-top: .1rem solid #222;
    color: #fff;
    padding: 1.5rem 0;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.footer .credit_part span {
    color: #efb036;
    font-family: "Sour Gummy", serif;
}

